body {
    padding: 2%;
}

h1 {
    text-align: center;
    font-size: 6vw;
}

#body-container {
    padding: 10px;
    display: flex;
}

#uni-img {
    width: 100%;
}

#harvard-cs50, #edx {
    cursor: pointer;
}

.side-item {
    width: 28.8vw;
    height: 16.2vw;
    margin: 5px;
}

.right-align {
    text-align: right;
}

.link {
    margin-right: 10px;
}