{% extends 'edapp/layout.html' %}

{% block title %}
    Helping
{% endblock %}

{% block heading %}
    Helping
{% endblock %}

{% block nav %}
    {% include 'edapp/nav.html' with page='help' only %}
{% endblock %}

{% block left %}
    <h2>How Can <i>You</i> Help?</h2>
    <p>
        You can create free education online to teach people the skills that you have. 
        If you want to help even more, you could provide in-person education. 
        For example, if you are a software engineer, 
        you could create some small club or get-together for programmers. 
        You could teach people about a specific topic in programming; 
        people would have then learned a new skill that they can use in the future, 
        or teach other people about the things you have taught them. Just like that, 
        more people have been exposed to the world of programming. 
        If you wanted to make education cheaper in Canada specifically, 
        you would need to contact the provincial governments of Canada; 
        they control the post-secondary education costs. Although, 
        it would be difficult for you to succeed in lowering the costs of education.
        You could try to contact companies and ask them to drop their degree requirement. 
        This would make self-taught routes become more viable; that is a cheaper route.
    </p>
{% endblock %}

{% block right %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZeThhqpZ9oI" frameborder="0" allowfullscreen></iframe></iframe>
{% endblock %}
