{% extends 'edapp/layout.html' %}

{% block title %}
    Hello, world!
{% endblock %}

{% block heading %}
    Hello, world!
{% endblock %}

{% block left %}
    <h2>Lack of Accessible Education</h2>
    <p>
        Some people have plenty of intelligent potensial and creative ideas, 
        but they can’t activate that potensial; 
        they don’t have easy access to education. 
        These people could solve real-world issues or work a better job than they do, 
        but they are limited to the education resources provided to them, 
        and the money they have. 
        Public elementary/middle/high school is provided completely for free in Canada, 
        but post-secondary education is a different story: It is extremely expensive. 
        That is the problem: People can’t afford it.
    </p>
{% endblock %}

{% block right %}
    <img class="side-item" width="560" height="315" src="https://lh3.googleusercontent.com/proxy/oqHF44c7ogzt1BCXYtXeZJhRhuy3r5yfdXi9C-tMSbsqCr9VFlaxhG2HQ8MXu1RiR7F-xQkTtqqGunYxGfX68cS7xrfs81f7TABcYVmpx_Qt7YmaRIytPyrP2X1iBw">
    <iframe class="side-item" width="560" height="315" src="https://www.youtube.com/embed/ZeThhqpZ9oI" frameborder="0" allowfullscreen></iframe></iframe>
{% endblock %}