{% if page != 'home' %}
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'home' %}">Home</a></button>
{% endif %}
{% if page != 'problem' %}
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'problem' %}">What is the problem?</a></button>
{% endif %}
{% if page != 'solutions' %}
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'solutions' %}">What is being done?</a></button>
{% endif %}
{% if page != 'help' %}
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'help' %}">What can you do?</a></button>
{% endif %}