{% extends 'edapp/layout.html' %}

{% block title %}
    Problem
{% endblock %}

{% block heading %}
    Problem
{% endblock %}

{% block left %}
    <h2>Why Is This A Problem?</h2>
    <p>
        This is a barrier for people with lower incomes. 
        For many fields, there is a great deal of free information online. 
        In computer science, for example, you can probably learn enough to be qualified for a good job, 
        but some places require a degree computor science or at least strongly prefer one. 
        You might have the skills, but because you didn’t pay those $100,000+ tuition fees 
        for post-secondary education, you won't be able to get the job you want.
    </p>
    <h2>Why Should We Care?</h2>
    <p>
        If post-secondary education was cheaper, other problems might resolve; 
        people would be smarter and have the skills to solve more issues. 
        Scientists can try to create cures for diseases that don’t have stable cures. 
        For example, types of cancer. Also, everyone should have equal opportunities.
        By caring about this problem, we could help give other people oportunities 
        they wouldn't have otherwise had.
    </p>
    <h2>How Does This Affect People?</h2>
    <p>
        This affects people by making it harder to get ahead in life. 
        It would be harder to get jobs without a degree; some places require a degree. 
        Some people completely teach themselves the stuff in their selected field, 
        but they might still not be able to get a job because of this requirement. 
        Recently, some places like Google have dropped their degree hard requirement, 
        but they still hold a strong bias towards people with a degree.
    </p>
{% endblock %}

{% block right %}
    <img class="side-item" width="560" height="315" src="https://lh3.googleusercontent.com/proxy/oqHF44c7ogzt1BCXYtXeZJhRhuy3r5yfdXi9C-tMSbsqCr9VFlaxhG2HQ8MXu1RiR7F-xQkTtqqGunYxGfX68cS7xrfs81f7TABcYVmpx_Qt7YmaRIytPyrP2X1iBw">
    <iframe class="side-item" width="560" height="315" src="https://www.youtube.com/embed/ZeThhqpZ9oI" frameborder="0" allowfullscreen></iframe></iframe>
{% endblock %}